<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ArticleDao">

    <resultMap id="ArticleMap" type="Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="insert_img" property="insertImg"/>
        <result column="content" property="content"/>
        <result column="up_date" property="upDate"/>
        <result column="guruId" property="guruId"/>
    </resultMap>

    <select id="selectAll" resultMap="ArticleMap">
        select id,title,insert_img,content,up_date,guruId from article limit #{start},#{rows}
    </select>

    <delete id="delete">
        delete from article where id=#{id}
    </delete>

    <select id="selectCount" resultType="Integer">
        select count(*) from article
    </select>

</mapper>